.aside {
  @apply absolute inset-0 left-auto w-[420px] m-2 rounded-lg shadow-lg z-50 box-border bg-gray-50/70 backdrop-blur-lg;
  transition: transform 0.4s;
  transform: translateX(calc(100% + 00.5rem));
}

.asideVisible {
  transform: translateX(0);
}
